<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shop</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>login.dealLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>login.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regServlet</servlet-name>
    <servlet-class>register.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regServlet</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgetServlet</servlet-name>
    <servlet-class>forget.forgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetServlet</servlet-name>
    <url-pattern>/forgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodsServlet</servlet-name>
    <servlet-class>goods.goodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsServlet</servlet-name>
    <url-pattern>/goodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodscarServlet</servlet-name>
    <servlet-class>goods.goodsCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodscarServlet</servlet-name>
    <url-pattern>/goodscarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cardelServlet</servlet-name>
    <servlet-class>goods.delfromcarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cardelServlet</servlet-name>
    <url-pattern>/cardelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>billServlet</servlet-name>
    <servlet-class>goods.getbillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billServlet</servlet-name>
    <url-pattern>/billServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showbillServlet</servlet-name>
    <servlet-class>goods.showBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showbillServlet</servlet-name>
    <url-pattern>/showbillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mybillServlet</servlet-name>
    <servlet-class>goods.mybillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybillServlet</servlet-name>
    <url-pattern>/mybillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>okServlet</servlet-name>
    <servlet-class>goods.fkOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>okServlet</servlet-name>
    <url-pattern>/okServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>showdetial</servlet-name>
    <servlet-class>goods.showDetialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showdetial</servlet-name>
    <url-pattern>/showdetial</url-pattern>
  </servlet-mapping>
</web-app>